# Python Error Types

When we write code it is common that we make a typo or some other common error. If our code fails to run, the Python interpreter will display a message, containing feedback with information on where the problem occurs and the type of an error. It will also sometimes gives us suggestions on a possible fix. Understanding different types of errors in programming languages will help us to debug our code quickly and also it makes us better at what we do.

Let us see the most common error types one by one. First let us open our Python interactive shell. Go to your you computer terminal and write 'python'. The python interactive shell will be opened.

<h2>SyntaxError</h2>

<h3>Example : SyntaxError</h3>

In [3]:
print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello world')? (2134528244.py, line 1)

As you can see we made a syntax error because we forgot to enclose the string with parenthesis and Python already suggests the solution. Let us fix it.

In [6]:
print('hello world')

hello world

# NameError

<h3>Example : NameError</h3>

In [8]:
print(age)

NameError: name 'age' is not defined

As you can see from the message above, name age is not defined. Yes, it is true that we did not define an age variable but we were trying to print it out as if we had had declared it. Now, lets fix this by declaring it and assigning with a value.

In [9]:
age = 25
print(age)

25

The type of error was a NameError. We debugged the error by defining the variable name.

# IndexError

<h3>Example : IndexError</h3>

In [12]:
numbers = [1, 2, 3, 4, 5]
numbers[5]

IndexError: list index out of range

In the example above, Python raised an IndexError, because the list has only indexes from 0 to 4 , so it was out of range.

# ModuleNotFoundError

<h3>Example 1: ModuleNotFoundError</h3>

In [13]:
import maths

ModuleNotFoundError: No module named 'maths'

In the example above, I added an extra s to math deliberately and ModuleNotFoundError was raised. Lets fix it by removing the extra s from math.

In [15]:
#import maths
import math

# AttributeError

<h3>Example 1: AttributeError</h3>

In [18]:
#import maths
import math
math.PI

AttributeError: module 'math' has no attribute 'PI'

As you can see, I made a mistake again! Instead of pi, I tried to call a PI function from maths module. It raised an attribute error, it means, that the function does not exist in the module. Lets fix it by changing from PI to pi.

In [19]:
#import maths
import math
#math.PI
math.pi

3.141592653589793

Now, when we call pi from the math module we got the result.

# KeyError

<h3>Example : KeyError</h3>

In [23]:
users = {'name':'Asab', 'age':250, 'country':'Finland'}
users['name']

'Asab'

In [40]:
users['country']

'Finland'

As you can see, there was a typo in the key used to get the dictionary value. so, this is a key error and the fix is quite straight forward. Let's do this!

In [27]:
users['country']

'Finland'

debug the error, run the code and get the value.

# TypeError

<h3>Example : TypeError</h3>

In [29]:
4 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In the example above, a TypeError is raised because we cannot add a number to a string. First solution would be to convert the string to int or float. Another solution would be converting the number to a string (the result then would be '43'). Let us follow the first fix.

In [30]:
4 + int('3')

7

In [31]:
4 + float('3')

7.0

# ImportError

<h3>Example : ImportError</h3>

In [33]:
from math import power

ImportError: cannot import name 'power' from 'math' (unknown location)

There is no function called power in the math module, it goes with a different name: pow. Let's correct it:

In [34]:
from math import pow

In [35]:
pow(2,3)

8.0

# ValueError

In [36]:
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

In this case we cannot change the given string to a number, because of the 'a' letter in it.

# ZeroDivisionError

In [37]:
1/0

ZeroDivisionError: division by zero

We cannot divide a number by zero.